@import "tailwindcss";

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:      'Inter', sans-serif;
    background-color: rgba(236, 234, 234, 0.3);
}
